[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/tasklist"]
	path = .vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule ".vim/bundle/sparkup"]
	path = .vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/makegreen"]
	path = .vim/bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule "/Users/raphaa/.vim/bundle/vim-pony"]
	path = /Users/raphaa/.vim/bundle/vim-pony
	url = git://github.com/rainerborene/vim-pony.git
[submodule ".vim/bundle/xmledit"]
	path = .vim/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/simple-pairs"]
	path = .vim/bundle/simple-pairs
	url = https://github.com/vim-scripts/simple-pairs.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
